@using AJSoftWeb.Classes


<aside id="sidebar_left" class="">
    <div class="sidebar-left-content nano-content">
        <ul class="nav sidebar-menu">
            <li class="active">
                <a href="/Home/Index">
                    <span class="glyphicons glyphicons-home"></span>
                    <span class="sidebar-title">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="accordion-toggle" href="#!">
                    <span class="fa fa-cog fa-fw"></span>
                    <span class="sidebar-title">Manage</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                        <a href="/EmbroideryFirm/Index">
                            <span class="glyphicon glyphicon-book"></span>Embroidery Firm
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle" href="#!">
                    <span class="glyphicons glyphicons-settings"></span>
                    <span class="sidebar-title">Config</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                        <a href="/ShadeCards/Index">
                            <span class="glyphicon glyphicon-file"></span> Shade Cards
                        </a>
                    </li>
                    <li>
                        <a href="/YarnTypes/Index">
                            <span class="fa fa-info-circle"></span> Yarn Types
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle" href="#!">
                    <span class="fa fa-folder-open fa-fw"></span>
                    <span class="sidebar-title">Finance</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                        <a href="/FinanceDashboard/Index">
                            <span class="glyphicon glyphicon-dashboard"></span> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/Payments/Index">
                            <span class="glyphicon glyphicon-usd"></span> Payments
                        </a>
                    </li>
                    <li>
                        <a href="/Statements/Index">
                            <span class="fa fa-file-text-o"></span> Statements
                        </a>
                    </li>
                    <li>
                        <a href="/Invoices/Index">
                            <span class="glyphicon glyphicon-file"></span> Invoices
                        </a>
                    </li>
                    <li>
                        <a href="/FinanceSales/ManageFinanceSales">
                            <span class="glyphicon glyphicon-list"></span> Sales
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle" href="#!">
                    <span class="fa fa-file-image-o"></span>
                    <span class="sidebar-title">Reports</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                        <a href="/Report/Index">
                            <span class="fa fa-file-image-o"></span> Reports
                        </a>
                    </li>
                    <li>
                        <a href="/Report/AgingReport">
                            <span class="fa fa-bar-chart"></span> A/R Aging Summary
                        </a>
                    </li>
                    <li>
                        <a href="/Report/ReportExports">
                            <span class="fa fa-file-excel-o"></span> Export Emb Fir
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active" style="float:right;">
                <a class="accordion-toggle" href="#!">
                    <span class="sidebar-title"></span> 972-697-4370 or ketan.godhani10@gmail.com
                </a>
            </li>
        </ul>
    </div>
</aside>